body{
    background-color: rgb(38, 194, 24);
}

.kotak {
    width: 500px;
    height: 450px;

    background-color:rgb(155, 214, 18);
    border: 5px solid black;
}

h1{
    color: black;
}

h2{
    color: black;
}
