body{
    background-image: url(123.jpg);
    background-size: cover;
}

.kotak {
    width: 500px;
    height: 450px;

    background-color:rgb(204, 62, 43);
    border: 5px solid black;
}

h1{
    color: black;
}

h2{
    color: black;
}
